<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biểu đồ Giá Bitcoin - Giao Diện Tối</title>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.27.1/apexcharts.min.css">-->
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js" integrity="sha384-OoIbkvzsFFQAG88r+IqMAjyOtYDPGO0cqK5HF5Uosdy/zUEGySeAzytENMDynREd" crossorigin="anonymous"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.27.1/apexcharts.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/lightweight-charts@4.2.1/dist/lightweight-charts.standalone.development.min.js"></script>
    <link rel="stylesheet" href="/statics/style.css">
</head>
<body>
<div id="chart-container">
    <h2>Giá Bitcoin (USD)</h2>
    <p>Biểu đồ giá phiên <span id="timeframe">1m</span></p>
    <div id="price-display">$69522.41</div>
    <div class="py-2"></div>
    <div id="percentage-change">▲ 3.91%</div>
    <div class="py-2"></div>
    <!-- Nút hamburger bên cạnh nút ẩn hiện candlestick -->
    <div class="flexbox">
       <div class="flexbox">
           <button id="candlestick" class="ml-4">
               <img src="/statics/svgviewer-output.svg" alt="Candlestick Icon" style="width:20px; height:20px;">
           </button>
           <button id="close-toggle" class="ml-4">
               <span>Close Time</span>
           </button>
           <button id="fourier-toggle" class="ml-4">
               <span>fourier</span>
           </button>
           <!-- Nút hamburger và menu con -->
           <div class="hamburger-container ml-4">
               <button id="timeframe-display">1m</button> <!-- Thay thế nút hamburger bằng tên khung thời gian -->
               <div id="timeframe-options" class="dropdown-content">
                   <button onclick="selectTimeframe('1s')">1s</button>
                   <button onclick="selectTimeframe('1m')">1m</button>
                   <button onclick="selectTimeframe('3m')">3m</button>
                   <button onclick="selectTimeframe('5m')">5m</button>
                   <button onclick="selectTimeframe('15m')">15m</button>
                   <button onclick="selectTimeframe('30m')">30m</button>
                   <button onclick="selectTimeframe('1h')">1h</button>
                   <button onclick="selectTimeframe('2h')">2h</button>
                   <button onclick="selectTimeframe('4h')">4h</button>
                   <button onclick="selectTimeframe('6h')">6h</button>
                   <button onclick="selectTimeframe('8h')">8h</button>
                   <button onclick="selectTimeframe('12h')">12h</button>
                   <button onclick="selectTimeframe('1d')">1d</button>
                   <button onclick="selectTimeframe('3d')">3d</button>
                   <button onclick="selectTimeframe('1w')">1w</button>
                   <button onclick="selectTimeframe('1M')">1M</button>
               </div>
           </div>
       </div>
        <div>còn lại: <span id="remaining"></span></div>
    </div>
    <div class="py-2"></div>
    <div id="chart"></div>
</div>

<script>
    const API_ENDPOINT = 'http://localhost:8080/api/v1'
    // Khởi tạo dữ liệu candlestick và các biến liên quan

    let isCandlestickVisible = false;
    let isCloseVisible = true;
    let isFourierVisible = true;

    // Tạo dữ liệu highLineData và lowLineData
    let candlestickData = []; // Sao chép dữ liệu ban đầu
    let highLineData = []; //candlestickData.map(data => ({ x: data.x, y: data.y[1] }));
    let closeLineData = [];
    let interval = '1m';

    let socketIO;
    let currentBar = {
        open: null,
        high: null,
        low: null,
        close: null,
        time: new Date().getTime(),
    };
    const chartOptions = {
        autoSize: true,
        layout: {
            textColor: '#fafafa',
            background: {
                type: 'solid',
                color: '#1e1e1e'
            }
        },
        grid: {
            vertLines: { color: '#444' },
            horzLines: { color: '#444' },
        },
        priceScale: {
            position: 'left',
            mode: 1,
            // autoScale: true,
            invertScale: true,
            alignLabels: true,
            borderVisible: true,
            borderColor: '#24273E',
            scaleMargins: {
                top: 0.30,
                bottom: 0.30,
            },
        },
        timeScale: {
            rightOffset: 50,
            barSpacing: 10,
            fixLeftEdge: true,
            lockVisibleTimeRangeOnResize: true,
            rightBarStaysOnScroll: true,
            borderVisible: true,
            borderColor: '#fff000',
            visible: true,
            timeVisible: true,
            // secondsVisible: true,
        },
        crosshair: {
            mode: LightweightCharts.CrosshairMode.Normal,
        },
        localization: {
            // timeFormatter: businessDayOrTimestamp => {
            //     return Date(businessDayOrTimestamp); //or whatever JS formatting you want here
            // },
            locale: 'vi-VN'
        },
    };
    const chart = LightweightCharts.createChart(document.querySelector('#chart'), {
        width: 1000,
        height: 450,
        ...chartOptions
    });
    const fourierSeries = chart.addLineSeries({
        lineColor: '#2962FF',
        topColor: '#2962FF',
        bottomColor: 'rgba(41, 98, 255, 0.28)',
        lineType: 2,
        lineWidth: 1,
    });

    const closeSeries = chart.addLineSeries({
        lineColor: '#FF6E40',
        topColor: '#FF6E40',
        lineWidth: 1,
    });

    const candlestickSeries = chart.addCandlestickSeries({
        upColor: '#26a69a', downColor: '#ef5350', borderVisible: false,
        wickUpColor: '#26a69a', wickDownColor: '#ef5350',
    });
    chart.timeScale().fitContent();

    function mergeTickToBar(data, time) {
        currentBar.time = time;
        currentBar.open = data[0];
        currentBar.high = data[1];
        currentBar.low = data[2];
        currentBar.close = data[3];

        const filterCandle = candlestickData.find((item) => item.time === currentBar.time);
        if (!filterCandle) {
            candlestickData.push({ ...currentBar });
        } else {
            candlestickData.map((item) => {
                if (item.time === currentBar.time) {
                    item.open = currentBar.open;
                    item.high = currentBar.high;
                    item.low = currentBar.low;
                    item.close = currentBar.close;
                }
            });
        }
        const filterClose = closeLineData.find((item) => item.time === currentBar.time);
        if (!filterClose) {
            closeLineData.push({ time: currentBar.time, value: currentBar.close });
        } else {
            closeLineData.map((item) => {
                if (item.time === currentBar.time) {
                    item.value = currentBar.close;
                }
            });
        }
        console.log('currentBar', currentBar);
        isCloseVisible && closeSeries.update({
            time: currentBar.time,
            value: currentBar.close,
        });
        isCandlestickVisible && candlestickSeries.update(currentBar);
    }

    function updateChart() {
        // Cập nhật dữ liệu high và low line
        updatePriceDisplay();

        // Cập nhật biểu đồ với dữ liệu mới
        candlestickSeries.setData(isCandlestickVisible ? candlestickData : []);
        fourierSeries.setData(isFourierVisible ? highLineData : []);
        closeSeries.setData(isCloseVisible ? closeLineData: []);
    }

    function updatePriceDisplay(latestPrice, previousPrice) {
        latestPrice = latestPrice || candlestickData[candlestickData.length - 1].close;
        previousPrice = previousPrice || candlestickData[candlestickData.length - 2].close;
        const percentageChange = ((latestPrice - previousPrice) / previousPrice * 100).toFixed(2);

        document.getElementById('price-display').textContent = `$${latestPrice.toFixed(2)}`;
        document.getElementById('percentage-change').textContent = `${percentageChange >= 0 ? '▲' : '▼'} ${Math.abs(percentageChange)}%`;
        document.getElementById('percentage-change').style.color = percentageChange >= 0 ? '#00ffcc' : '#ff6666';
    }

    // Xử lý sự kiện khi nhấn nút "Ẩn hiện" để ẩn hoặc hiện riêng phần candlestick
    document.getElementById('candlestick').addEventListener('click', toggleCandlestick);
    document.getElementById('close-toggle').addEventListener('click', toggleClose);
    document.getElementById('fourier-toggle').addEventListener('click', toggleFourier);

    function toggleFourier() {
        isFourierVisible = !isFourierVisible; // Đổi trạng thái hiển thị của high line
        fourierSeries.setData(isFourierVisible ? highLineData : []);
    }

    function toggleClose() {
        isCloseVisible = !isCloseVisible; // Đổi trạng thái hiển thị của close line
        closeSeries.setData(isCloseVisible ? closeLineData : []);
    }

    function toggleCandlestick() {
        isCandlestickVisible = !isCandlestickVisible; // Đổi trạng thái hiển thị của candlestick
        candlestickSeries.setData(isCandlestickVisible ? candlestickData : []);
    }

    // Khởi tạo trạng thái cho các khung thời gian
    const timeframeState = {
        '1s': false,
        '1m': true,  // Khung thời gian mặc định
        '3m': false,
        '5m': false,
        '15m': false,
        '30m': false,
        '1h': false,
        '2h': false,
        '4h': false,
        '6h': false,
        '8h': false,
        '12h': false,
        '1d': false,
        '3d': false,
        '1w': false,
        '1M': false,
    };

    // Hàm để áp dụng thuộc tính CSS cho khung thời gian được chọn
    function updateTimeframeStyles() {
        Object.keys(timeframeState).forEach((timeframe) => {
            const button = document.querySelector(`button[onclick="selectTimeframe('${timeframe}')"]`);
            if (timeframeState[timeframe]) {
                button.classList.add('active');
            } else {
                button.classList.remove('active');
            }
        });
    }

    // Hàm cập nhật tên khung thời gian đang được chọn
    function updateActiveTimeframeName() {
        offEvent(`liveBitcoin:${interval}`);
        offEvent(`fourier:${interval}`);
        leaveIntervalRoom(interval);

        const activeTimeframe = Object.keys(timeframeState).find((timeframe) => timeframeState[timeframe]);
        const timeframeButton = document.getElementById('timeframe-display');
        const timeframeDisplay = document.getElementById('timeframe');
        timeframeButton.textContent = activeTimeframe;
        timeframeDisplay.textContent = activeTimeframe;

        interval = activeTimeframe;
        getCurrentChartData(interval, 'BTCUSDT', 2000).then(() => {
            joinIntervalRoom(interval);
            setupIntervalEvent(interval);
        });
    }

    // Hàm cập nhật trạng thái của các khung thời gian
    function selectTimeframe(selectedTimeframe) {
        Object.keys(timeframeState).forEach((timeframe) => {
            timeframeState[timeframe] = false;
        });
        timeframeState[selectedTimeframe] = true;

        updateTimeframeStyles();
        updateActiveTimeframeName();  // Cập nhật tên khung thời gian đang chọn
        // updateChartData(selectedTimeframe);
    }

    async function getCurrentChartData(interval = '1m', symbol = 'BTCUSDT', limit = 100) {
        const response = await fetch(`${API_ENDPOINT}/get-historical?interval=${interval}&symbol=${symbol}&limit=${limit}`);
        const data = await response.json();
        const candlestick = data.data.candle;
        const fourier = data.data.line;

        candlestickData = candlestick.map((item) => ({
            time: item.time / 1000,
            open: item.data[0],
            high: item.data[1],
            low: item.data[2],
            close: item.data[3],
        }));
        highLineData = fourier.map((item) => ({
            time: item.time / 1000,
            value: item.data,
        }));
        closeLineData = candlestick.map((item) => ({
            time: item.time / 1000,
            value: item.data[3],
        }));
        // updateHighLowLines();
        updateChart();
    }

    function timeToTz(originalTime, timeZone) {
        const zonedDate = new Date(new Date(originalTime * 1000).toLocaleString('vi-VN', { timeZone }));
        return zonedDate.getTime() / 1000;
    }

    // Thêm class CSS cho khung thời gian được chọn
    const style = document.createElement('style');
    style.innerHTML = `
            .dropdown-content button.active {
                background-color: #3a3a3a;
                color: #00ffcc;
                font-weight: bold;
            }
        `;
    document.head.appendChild(style);

    function setupSocketIO() {
        socketIO = io('http://localhost:8080/socket/live-bitcoin', {
            transports: ['websocket'],
            addTrailingSlash: false, // remove trailing slash
            path: "/socket/socket.io",
        });
        socketIO.on('connect', () => {
            console.log('Connected to server');
        });
        socketIO.on('disconnect', () => {
            console.log('Disconnected from server');
        });
        return socketIO;
    }

    function joinIntervalRoom(interval) {
        socketIO && socketIO.emit('join', {
            interval,
            symbol: 'BTCUSDT',
        });
    }

    function leaveIntervalRoom(interval) {
        socketIO && socketIO.emit('leave', {
            interval,
            symbol: 'BTCUSDT',
        });
    }

    function offEvent(name) {
        socketIO && socketIO.off(name);
    }

    function setupSocketEvent(name, callback) {
        console.log('setupSocketEvent', name);
        socketIO && socketIO.on(name, callback);
    }

    function setupIntervalEvent(interval) {
        setupSocketEvent(`fourier:${interval}`, (data) => {
            highLineData = data.map((item) => ({
                time: item.time / 1000,
                value: item.data,
            }));
            fourierSeries.setData(highLineData);
        });
        setupSocketEvent(`liveBitcoin:${interval}`, (data) => {
            updatePriceDisplay(data.data[3], candlestickData[candlestickData.length - 2].close);
            mergeTickToBar(data.data, data.time / 1000);
        });
    }

    function clearSocket() {
        socketIO && socketIO.disconnect();
    }

    document.addEventListener('DOMContentLoaded', () => {
        setupSocketIO();
        joinIntervalRoom(interval);
        setupIntervalEvent(interval);
        // Gọi hàm để thiết lập kiểu dáng ban đầu
        updateTimeframeStyles();
        updateActiveTimeframeName(); // Cập nhật tên khung thời gian mặc định là '1m'
    });

    document.addEventListener('beforeunload', () => {
        clearSocket();
    });

</script>
<script src="/statics/app.js"></script>
</body>
</html>